html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  background-color: pink;
}

h1 {
  font-size: 75px;
}

.sketchPad {
  display: flex;
  justify-content: space-around;
}
button#numSquaresSubmit,
.changeColor button,
.changeBackgroundColor button {
  display: inline;
}

button {
  display: block;
  font-size: 24px;
  max-width: 200px;
}
label {
  font-size: 24px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.right {
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  background: rgb(255, 255, 255);
}

.changeNumSquares {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.changeBackgroundColor {
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.changeColor {
  flex-direction: column;
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 300px;

  gap: 50px;
}

.buttons button {
  width: 300px;
}
